<div class="container animated fadeIn">
  <div class="panel feedlist">
    <div class="panel-heading feedlist">
      <h1>LISTINGS<small>//what's available</small></h1>
    </div>
    <div class="panel-body feedlist">
      <div class="container">
        <h4><%= paginate @feedentries %></h4>
      </div>
        <% @feedentries.each do |entry| %>

        <div class="media">
          <% if entry.image_craigslist.present? %>
            <img src="<%= entry.image_craigslist.url(:thumb) %>" class="col-md-3 media-left pic">
            <!-- <div class="media-left pic">
              <%= image_tag entry.image_craigslist.url(:thumb) %>
            </div> -->
          <% else %>
            <img src="/assets/default.gif" class="col-md-3 media-left pic">
          <% end %>

            <div class="col-md-9 media-right">
                <h3><%= link_to entry.title.truncate(50), entry.url %></h3>
                <p><%= entry.description.truncate(300) %></p>
            </div>
        </div>
          <% end %>
      </div>
    </div>
</div>
