<div class="container animated fadeIn">
  <div class="panel feedlist">
    <div class="panel-heading feedlist">
      On the Market <i class="fa fa-home"></i>
    </div>
      <div id="map" style='width: 100%; height: 400px;'></div>
    <div class="panel-body feedlist">
      <div class="container">
        <h4><%= paginate @feedentries %></h4>
      </div>
        <% @feedentries.each do |entry| %>

        <div class="media">
          <% if entry.image_craigslist.present? %>
            <img src="<%= entry.image_craigslist.url(:thumb) %>" class="col-md-3 media-left pic">
          <% else %>
            <img src="/assets/default.gif" class="col-md-3 media-left pic">
          <% end %>

            <div class="col-md-9 media-right">
                <h3><%= link_to entry.title.truncate(50), entry.url %></h3>
                <p><%= entry.description.truncate(300) %></p>
            </div>
        </div>
          <% end %>
      </div>
    </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw feeds_json(@feedentries).to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    // handler.getMap().setZoom(11);
  });
</script>
