<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do  %>
        <p id='brand'>Rent<i class="fa fa-home"></i><b>Works</b></p>
        <% end %>
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right" >
        <% if user_signed_in? %>
        <li>
          <p id="sign_in_name">
            Hi <%= current_user.first_name %> |
            <%= link_to "LIST", new_listing_path %> |
            <%= link_to "SIGN OUT", sessions_path, method: :delete %> |
          </p>
        </li>
            <% else %>
          <li id="sign_in"><%= link_to "SIGN IN", new_session_path %></li>
            <% end %>
        </ul>
    </div>
    <div class="clearfix" id="navbar2">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "HOME", root_path %></li>
        <li><a href="/abouts">ABOUT</a></li>
        <li><a href="/listings">LISTINGS</a></li>
        <li><a href="/feed_entries">WEB LISTINGS</a></li>
        <li><a href="/contacts">CONTACT US</a></li>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/users/new">REGISTER</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="searchbar">
        <li>
          <%= form_tag feed_entries_path, method: :get do %>
           <p>
             <%= search_field_tag :search, params[:search] %>
             <%= submit_tag "Search", name: nil, class: "btn btn-edit btn-sm" %>
           </p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
