<div class="container">
<%= simple_form_for (@listing||Listing.new) do |f| %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :suite_no %>
  <%= f.input :postal %>
  <%= f.input :city %>
  <%= f.country_select :country %>
<%= f.submit "List", class: "btn btn-primary btn-sm" %>
<%= link_to 'Back', users_path, class: "btn btn-default btn-sm" %>
<% end  %>
</div>
