<div class="container edit animated fadeIn">
  <div class="panel edit">
    <div class="panel-heading edit">
      Edit Listing <i class="fa fa-pencil"></i>
    </div>
    <div class="panel-body edit">
      <%= simple_form_for @listing do |f| %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.input :postal %>
        <%= f.input :city %>
        <%= f.input :image %>
        <%= f.input :country, as: :select, collection: ActionView::Helpers::FormOptionsHelper::COUNTRIES  %>
        <%= f.association :features, as: :check_boxes %>
      <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
      <%= link_to 'Back', listings_path, class: "btn btn-warning btn-sm" %>
      <% end  %>
    </div>
  </div>
</div>
