<div class="container animated fadeIn">

<div class="panel our_listings">

<div class="panel-heading out_listings">
    Listed <i class="fa fa-home"></i>
</div>
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>


  <div class="row">
        <% @listings.each do |listing| %>
    <div class="col-md-4 container animated fadIn">
      <div class="panel list_index">
        <div class="panel-heading list_index">
        </div>
        <div class="panel-body list_index pic">
         <%= image_tag listing.image, id:"index_pic" %>
        <div class="caption">
          <h3><%= listing.description %></h3>
            <p><small><%= listing.address %><br>
                      <%= listing.city %>, <%= listing.country %></small></p>
          <p><%= link_to "VIEW", listing, class: 'btn btn-info btn-sm' %></p>
        </div>
        </div>
      </div>
    </div>
          <% end %>
  </div>
</div>


  <script type="text/javascript">
    debugger
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw listings_json(@listings).to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(11);
    });
  </script>
