<div class="col-md-6 container list_show animated fadeIn">
  <div class="panel list_show">
    <div class="panel-heading list_show">
      <i class="fa fa-map"> Views </i>
    </div>
    <div class="panel-body list_show">
      <div id="map" style='height: 400px;'></div>
    </div>
  </div>
</div>

<div class="col-md-6 container list_feature animated fadeIn">
  <div class="panel list_feature">
    <div class="panel-heading list_feature">
       About the Listing <i class="fa fa-hand-o-down"></i>
    </div>
    <div class="panel-body list_feature pic">
      <% if @listing.image.present? %>
        <%= image_tag @listing.image %>
      <% else %>
        <img src="/assets/default.gif">
      <% end %>
    </div>
  </div>
</div>


<div class='container'>

  <div class='col-md-6'>
  </div>

  <div class='col-md-6'>

</div>

<div class='container'>
  <h3>About This Listing</h3>
  <p><%= @listing.description %></p>
<hr>
  <h3>Located at:</h3>
  <p><%= @listing.suite_no %><%= @listing.address %></p>
  <p><%= @listing.city %>,<%= @listing.country %></p>
<hr>
  <h3>Features:</h3>
  <br>
    <% @listing.features.each do |x|%>
  <p id='featureListing'>
      <%= x.name %>
  </p>
    <% end %>
<hr>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-info btn-sm" %>
  <%= link_to 'Back', listings_path, class: "btn btn-default btn-sm"  %>
</div>


<br><br>
<div class="container">
  <%= simple_form_for [@listing, @comment] do |f| %>
  <%= f.input :content, label: "Comment" %>
  <%= f.submit "Post", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>


<div class="container">
  <h4>Comments</h4>
  <% @listing.comments.each do |comment| %>
  <div class="well">
    <p>"<%= comment.content %>"</p><br>
    <p>Date <%= formatted_date(comment.created_at) %></b><br>
  </div>
  <% end %>
</div>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @listing.latitude %>,
      "lng": <%= @listing.longitude %>,
      "infowindow": "<%= @listing.address %>"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(15);
});
</script>
