<div class='container'>
  <div class='col-md-6'>
   <%= image_tag @listing.image, id: "showImage"%>
    <h3><%= @listing.description %></h3>
    <p><%=  @listing.full_address %></p>
    <p>
      MORE FEATURES AND TAGS HERE
    </p>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-info btn-sm" %>
  <%= link_to 'Back', listings_path, class: "btn btn-default btn-sm"  %>
  </div>
  <div class='col-md-6'>

  <p>
   MAP IS HERE
  </p>
  </div>
</div>
